*{
	box-sizing: border-box;
}
body{
	margin: 0px auto;
	background-color: #0f0f0f;
}
.nv{
	width: 100%;
	background-color: black;
}
.navbar-brand{
	display: block;
	color: #98d4a5;
}
.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.nav-item{
	float: left;
}
.nav-item .nav-link{
	text-decoration: none;
	color: #98d4a5;
	padding: 14px 16px;
	display: block;
}
.nav-item .nav-link:hover, .dropdown:hover{
	text-decoration: none;
	color: white;
	background-color: #666666;
}
.navbar-brand:hover{
	color: white;
	background-color: #666666;
}
.dropdown:hover .dropdown-content{
	display: block;
	border: 1px solid #666666;;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color:#98d4a5;
	padding: 14px 16px;
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid #666666;;
}
.dropdown-content a:last-child{
	border-bottom: none;
}
.dropdown-content a:hover{
	background-color:#666666;
}
nav .menu-toggler{
	display: none;
}
.bg1{
	background-image: url('images/pic1.jpg');
}
.bg2{
	background-image: url('images/pic3.jpg');
}
.bg3{
	background-image: url('images/pic4.jpg');
}
.item{
	width:100%;
	height: 500px;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.mt-3{
	margin-top: 3%;
}
.d-flex{
	display: flex;
}
.justify-content-around{
	justify-content: space-around;
}
.mb-3{
	margin-bottom: 3%;
}
.btn{
	color: #6c757d;
	padding: 7px 3px;
	width: 100%;
	background-color: white;
}
.btn-outline-secondary{
	border: 1px solid #6c757d;
	font-size: 120%;
}
.btn:hover{
	background-color: #98d4a5;
	color: black;
}
.about{
	padding: 50px 16px;
	color: #98d4a5;
}
.color-txt{
	color: #98d4a5;
}
.details{
	background-color: black;
	height: 707px;
	border: 1px solid #98d4a5;
}
.details:hover{
	box-shadow: 5px 5px #98d4a5;
}
.desc{
	text-align: center;
	padding: 34px 16px;
	color: #98d4a5;
}
.card{
	border: 1px solid white;
	width: 270px;
	background-color: white;
	padding: 14px 16px;
}
.botn{
	background-color: #51ad78;
	color: white;
	padding: 10px 14px;
	border: none;
	box-shadow: 2px 3px #888888;
}
.contact{
	padding: 54px 16px;
	color: #98d4a5;
}
.form-control{
	width: 70%;
}
.btn-primary{
	color: black;
	width: 20%;
}
.float-right{
	float: right;
}
.connect{
	text-align: center;
	font-size: 30px;
	color: #98d4a5;
}
.hover-opacity:hover{
	color: white;
}
@media screen and (max-width: 600px){
	ul.navbar{
		width:100%;
		background-color: black;
		max-height: 100%;
		overflow: hidden;
		display: none;
	}
	ul.navbar li.nav-item{
		width: 100%;
	}
	nav .menu-toggler{
		display: block;
		position: absolute;
		right: 20px;
		top: 5px;
		font-size: 20px;
		color: white;
		border: 1px solid #666666;
		padding: 7px 10px;
		background-color: #666666;
		border-radius: 3px;
	}
	.d-flex{
		display: block;
	}
	.mt-3{
		margin-top: 3%;
	}
	.p-2{
		padding: 2%;
	}
	.ml-3{
		margin-left: 23%;
	}
	.btn{
		color: #6c757d;
		padding: 7px 3px;
		width: 73%;
	}
	.grp-blck{
		margin: 0px 0 0 172px;
	}
	.details{
		background-color: black;
		height: 100%;
	}
	.gallery{
		margin-left: 130px;
		padding: 4px;
	}
}